{:slides ["slides/hello.md"
          "slides/backseat-driver.md"
          "slides/try-backseat-driver.md"
          "slides/awesome-backseat-driver.md"
          "slides/harnesses.md"
          "slides/keep-repls-connected.md"
          "slides/composition.md"
          "slides/repl-sessions.md"
          "slides/moar-sessions.md"
          "slides/how-it-works.md"
          "slides/vscode-mcp-registry.md"
          "slides/crankin.md"
          "slides/crank-something.md"
          "slides/joyride-utils.md"
          "slides/slide-zoom.md"]}
